extends partials/layout

block vars
  - const title = 'Amazon Crawl';
  - const pageID = 'index';

block eod
  script
    +loadModule('pages/index.js')

block content
  main.index
      div.container
        div.row.justify-content-md-center.align-items-center
          div.col-sm-12.col-md-6
            div.homeFormStyle
              h2 ProxyCrawl
              p Write your content here
              form(method="POST" action="/product")
                div.form-group
                  label(for="exampleInputEmail1") Token
                  input(type="text" class="form-control" aria-describedby="token" name="token")
                  small(class="form-text text-muted") e.g: 91n1H7yuMs9Nybljh2QXaw
                div.form-group
                  label(for="exampleInputEmail1") Url
                  input(type="text" class="form-control" aria-describedby="url" name="url")
                  small(class="form-text text-muted") e.g: https://www.amazon.com/Philips-Norelco-AT830-46-Frustration/dp/B00JITDVD2
                  br
                  input(type="submit").btn.btn-primary.btn-block.btn-lg

